<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /demo/order-management/route-my-order/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /demo/order-management/route-my-order/index.html [L]
</IfModule>
